.slider {
  --c: #a4ffaf; /* active color */
  --c-1: #e6e5ea; /* inactive color */
  --c-2: #18171f; /* bg active color */
  --l: 8px; /* line thickness*/
  --l-1: 2px; /* thumb line thickness*/
  --s: 28px; /* thumb size*/

  width: 100%;
  height: var(--s); /* needed for Firefox*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

/* chromium */
.slider[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--l) inset var(--c-1);
  background-color: var(--c-1);
  border-image: linear-gradient(90deg, var(--c) 50%, #18171f 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw);
  -webkit-appearance: none;
  appearance: none;
}

/* Chromium on hover */
.slider[type="range" i]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 var(--l-1) inset var(--c);
  background-color: var(--c-2);
}

/* Firefox */
.slider[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--l) inset var(--c);
  border-image: linear-gradient(90deg, var(--c) 50%, #e6e5ea 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw);
  -moz-appearance: none;
  appearance: none;
}

/* Firefox on hover */
.slider[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 0 0 var(--l) inset var(--c);
}
