<div
  class="py-5 px-8 bg-very-dark-grey mb-8 flex flex-row justify-between items-center"
>
  <p class="body text-grey">{{ "STRENGTH" | uppercase }}</p>
  <div class="flex flex-row gap-4">
    <p class="heading-medium">{{ "MEDIUM" | uppercase }}</p>
    <div class="flex flex-row gap-2">
      <div class="w-[10px] h-7 bg-yellow"></div>
      <div class="w-[10px] h-7 bg-yellow"></div>
      <div class="w-[10px] h-7 bg-yellow"></div>
      <div class="w-[10px] h-7 border-2 border-almost-white bg-inherit"></div>
    </div>
  </div>
</div>
